Biopython
accelerate
cython
duecredit
funcsigs
ipython
ipywidgets
jupyter-book
jupyterlab
matplotlib
myst_nb
nibabel
nilearn
nimare==0.0.10
numexpr
numpy
pandas
ply
scikit-learn
scipy
seaborn
sympy
tornado
