numpy
scipy
libgfortran
sympy
ply
funcsigs
cython
matplotlib
seaborn
pandas
numexpr
scikit-learn
tornado
accelerate
Biopython
dateutil
ipython
jupyter-book
jupyterlab
ipywidgets
nibabel
nilearn
duecredit
nimare
